.weather-view {
	min-height: 200px;

	.weather-view__empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.weather-view__empty_title {
			margin: 15% 0;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}

		.weather-view__empty_add-city {
			display: flex;
			justify-content: center;
		}
	}

	.weather-view__weather-list {
		list-style: none;

		.weather-view__weather-list_city {
			margin-bottom: 30px;
		}
	}
}