@import '../variables.scss';

.add-city-wrapper {
	.add-city__error {
		color: #F56C6C;
		background-color: #FEF0F0;
		margin-bottom: 10px;
		text-align: center;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.add-city__controls {
		display: flex;
		justify-content: center;
		gap: 5px;

		input {
			width: 100%;
			padding: 10px;

			&:focus {
				outline: none;
				border: 1px solid $btn-color;
				box-shadow: 0 0 10px #719ECE;
			}
		}
	}
}