VUE_APP_WEATHER_URL=https://api.openweathermap.org/data/2.5/weather
VUE_APP_WEATHER_API_KEY=<Write here you api key from https://openweathermap.org>
VUE_APP_IMAGE_URL=http://openweathermap.org/img/wn/